div#working-overlay-wrapper {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  pointer-events: none;
}

div#working-overlay-window {
  padding: 10px;
  position: relative;
  width: min(80vh, 80vw, 300px);
  height: min(80vh, 80vw, 300px);
  background-color: var(--clr-white);
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-around;
  align-items: center;
  border: var(--border-pri);
  box-shadow: var(--box-shadow-pri);
  font-size: 1.5rem;
}

div#working-overlay-window>span {
  padding: 0.5em;
  text-align: center;
  font-family: var(--font-h);
  max-height: 40%;
}