html {
  color: var(--clr-black);
  background-color: var(--clr-almost-white);
}

main {
  padding: 20px 0;
  max-width: 980px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-size: 2em;
}

a {
  color: var(--clr-accent-a);
}

a:hover, a:focus {
  color: var(--clr-accent-b);
}

.hidden {
  opacity: 0;
  pointer-events: none;
  user-select: none;
}

.standard-form {
  background-color: var(--clr-white);
  box-shadow: var(--box-shadow-pri);
  display: flex;
  flex-direction: column;
  gap: 2em;
  border: var(--border-pri);
  padding: 1em;
  width: fit-content;
  margin: 0 auto;
}

.standard-form-message {
  max-width: 90%;
  margin: 0 auto;
}

.standard-form div.form-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: fit-content;
  padding-top: 1rem;
}

ul.standard-form-errors {
  display: flex;
  flex-direction: column;
  color: var(--clr-error);
}

div.label-input-wrapper {
  position: relative;
  flex: 1;
}

div.label-input-wrapper:focus-within, div.label-input-wrapper:hover {
  box-shadow: var(--box-shadow-pri);
}

div.label-input-wrapper.disabled {
  box-shadow: none;
}

div.label-input-wrapper>label {
  position: absolute;
  left: 5px;
  top: -0.6em;
  padding: 0 5px;
  background-color: var(--clr-white);
}

div.label-input-wrapper>input {
  border: var(--border-pri);
  padding: 0.5em;
  width: 100%;
}

div.label-input-wrapper>input:disabled {
  color: var(--clr-disabled);
}

div.form-buttons-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header-font {
  font-family: var(--font-h);
}

.bold {
  font-weight: bold;
}

.gap-small {
  gap: 0.2em;
}

.gap-large {
  gap: 2em;
}

.text-align-right {
  text-align: right;
}

button {
  border: var(--border-pri);
  padding: 0.3em 0.6em;
  user-select: none;
}

button:focus, button:hover {
  box-shadow: var(--box-shadow-pri);
}

button:disabled {
  opacity: 0.3;
  box-shadow: none;
}

.error {
  color: var(--clr-error);
}