:root {
  --clr-black: #02111B;
  --clr-almost-white: #F5F5F5;
  --clr-white: #FCFCFC;
  --clr-disabled: #ADADAD;
  --clr-error: red;

  --clr-accent-a: #EA9010;
  --clr-accent-b: #347FC4;
  
  --box-shadow-pri: 2px 2px 5px var(--clr-black);

  --border-pri: solid 1px black;
}