:root {
  --clr-black: #31393C;
  --clr-white: #FEF5EF;
  --clr-disabled: #988476;
  --clr-error: red;

  --clr-accent-a: #E15554;
  --clr-accent-b: #4D9DE0;
  
  --box-shadow-pri: 2px 2px 5px var(--clr-black);

  --border-pri: solid 1px black;
}